<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userInfo">
    <div th:switch="${@auth.getAuthentication().authenticated}">
        <ul th:case="true">
            <li>username: <b th:text="${@auth.getUsername()}"></b></li>
            <li>Role: <b th:text="${@auth.roles}"></b></li>
            <li><a href="/logout">Đăng xuất</a></li>
            <li th:if="${@auth.hasAnyRole('ADMIN')}">
                <a href="/poly/admin">Go to Administration</a>
            </li>
        </ul>
        <ul th:case="false">
            <li>Bạn chưa đăng nhập.</li>
            <li><a href="/auth/login">Đăng nhập</a></li>
        </ul>
    </div>
</div>
</body>
</html>