<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
table
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>ten</td>
        <td>tuoi</td>
        <td>truong hoc</td>
        <td>hanhdong</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="hocSinh : ${page.getContent}">
        <tr th:object="${hocSinh}">
            <td th:text="*{id}"></td>
            <td th:text="*{tenHocSinh}"></td>
            <td th:text="*{tuoi}"></td>
            <td th:text="*{truongHoc.tenTruong}"></td>
            <td>
                <a th:href="@{|/hoc-sinh/view-update/*{id}|}">vieư</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>